.main {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 5% 5% 0 8%;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(10px + 2vmin);
}

.main img {
  width: 80%;
}

.main h1 {
  font-size: calc(10px + 2vmin);
}

.btn {
  font-family: 'Caveat', cursive;
  background-color: #FF7657;
  border: none;
  color: #FCF9ED;
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  font-size: calc(10px + 1.5vmin);
  cursor: pointer;
  border-radius: 8px 23px 8px 23px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.doodleImg {
  margin-left: 30%;
  width: 40%;
}

@media (max-width: 1280px) {
  .main img {
    width: 50%;
  }

  .btn {
    font-size: calc(10px + 1vmin);
    width: 45%;
    padding: 10px;
    border-radius: 7px 18px 7px 18px;
  }

  .doodleImg {
    width: 40%;
    margin: 0 0 0 20%;
  }
}

@media (max-width: 768px) {
  .main img {
    width: 60%;
  }

  .main h1 {
    font-size: calc(10px + 1.8vmin);
  }

  .btn {
    width: 50%;
    padding: 8px;
    border-radius: 5px 12px 5px 12px;
    margin-top: 5px;
  }

  .doodleImg {
    width: 60%;
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main img {
    width: 40%;
  }

  .doodleImg {
    margin-top: 10px;
    margin-left: 0;
    width: 60%;
  }

  .btn {
    width: 40%;
  }
}
