.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  padding: 0 25px;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav ul li {
  margin: 0 10px;
}

.nav ul li:last-child {
  background-color: #FF7657;
  border-radius: 5px;
  padding: 5px;
  color: #FCF9ED;
}

.nav ul li a {
  margin: 5px 15px;
}

@media (max-width: 600px) {
  .nav {
    height: 70px;
    padding: 0 5px;
    font-size: calc(5px + 2vmin);
  }

  .nav ul li {
    margin: 0 10px;
  }

  .nav ul li a {
    margin: 5px 10px;
  }
}
